body {
    background: #fff;
}

.container {
    h1 {
        font-size: 40px;
        margin-bottom: 20px;
        line-height: 1.2;
    }

    h2 {
        font-size: 30px;
        margin-top: 20px;
        line-height: 1.2;
    }

    p {
        font-size: 18px;
        line-height: 28px;
    }

    img {
        height: auto;
    }
    
    .hero {
        width: 100%;
    }

    .container-child {
        box-sizing: border-box;
        border: solid 1px #ccc;
        margin: 40px 0;
        padding: 20px;
    }
    
    .images {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        img {
            max-width: 585px;
            width: 100%;
        }
    }
}

