body {
    background: #fff;
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 30px;

    h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 30px;
        margin-top: 20px;
    }

    p {
        font-size: 18px;
        line-height: 28px;
    }
    
    .hero {
        width: 100%;
    }

    .container-child {
        box-sizing: border-box;
        border: solid 1px #ccc;
        margin: 40px 0;
        padding: 20px;
    }
    
    .images {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        img {
            height: auto;
            max-width: 585px;
            width: 100%;
        }
    }
}

