body {
    background: #fff;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 30px;

    h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
    }
    
    .hero {
        width: 100%;
    }
    
    .images {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        img {
            height: auto;
            max-width: 585px;
            width: 100%;
        }
    }
}

